/*==========UNIVERSALS==========*/

/*==========ROWS AND COLUMNS==========*/

.row {
  min-height: 200px;
}

.col-md-3 {
  border: 1px solid #000;
  background-color: #e40007;
  height: 200px;
}

.col-md-9 {
  border: 1px solid #e7e7e7;
  background-color: blue;
  height: 200px;
}

.col-xs-4 {
  border: 3px solid red;
  background-color: purple;
  height: 175px;
}

.col-md-6 {
  background-color: yellow;
  height: 200px;
  border: 2px solid black;
}

.container-fluid {
  background-color: pink;
}

.spacer {
  height: 100px;
  background-color: none;
}

.col-sm-2 {
  border: 5px solid white;
  height: 150px;
}

.col-sm-2:nth-child(odd) {
  background-color: salmon;
}

.col-sm-2:nth-child(even) {
  background-color: aqua;
}

.banner>.col-md-3, .col-md-6 {
  border: 3px solid white;
  background-color: silver;
  height: 100px;
}

.well {
  background-color: gold;
}

/*==========MEDIA QUERIES==========*/

@media screen and (max-width: 480px) {
  .container-fluid {
    background-color: #000;
  }
}

@media screen and (min-width: 970px) {
  .container-fluid {
    background-color: yellow;
  }
}
